.ComponentContent{
    margin-top: 100px;
}

.componentGalleryDescription{
    margin-left: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.componentContentLargerToSmallDevices{
    display: flex;
    flex-direction: column;
}
.ComponentContentContent{
    display: flex;
    flex-direction: row;
}
.ComponentContentContentServicos,.ComponentContentContentMe{
    width: 50%;
    height: 800px; 
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    overflow: hidden;
}
.componentServiceCard,.componentMeCard{
    border: 1px rgba(0,0,0,0.1) solid;
    box-shadow: 0px 2px 1px rgba(0,0,0,0.4);
    background: whitesmoke;
    width: 80%;
    height: 500px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 1px 1px 1px #00bfff;
    color: rgba(0,0,0,0.3);
   
}
.componentServiceCard{
    overflow: scroll;
}
.componentMeCard{
    background: white;
}
.componentContentJobs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2px 5px;
}
del{
    color: darkred;
    font-weight: 500;
    text-shadow: 1px 1px 1px black;
}
.combo,.servico{
    margin: 10px;
    background: rgba(0,0,0,0.7);
    padding: 1px;
}
span{
    color: darkred;
    font-weight: 500;
    text-shadow: 1px 1px 1px black;
    font-size: large;
}
.componentContentProfileDescriptionSkillsText{
    padding: 10px;
    color: black;
}
.componentContentProfile{
    max-width: 150px;
    max-height: 150px;
}
.componentContentProfileDescriptionSkills{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: small;
    margin: 3px 10px;
    background: rgba(0,0,0,0.1);
}
.university, .me{
    margin-right:2px ;
    margin-left: 2px;
    color: rgba(0,0,0,0.7);
}
/* não funciona pelo fato de o body 
não ser a sua tag pai */
.componentServiceCard{
    position: sticky;
    top: 10px;
}
/** funciona porque é filho do body 
e não está contido em nehum conteiner */
.stick{
    position: sticky;
    top: 10px;
    display: none;
}
.componentContentTitle{
    background: rgba(0,0,0,0.3);
    margin: 5px 5px;
}
.componentContentFooter{
    background: black;
    height: 700px;
    color: whitesmoke;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    flex-wrap: wrap;
}
.componentContentFooterContato{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.componentContentFooterContatoSocial-1,
.componentContentFooterContatoSocial-2,
.componentContentFooterContatoSocial-3,
.componentContentFooterContatoSocial-4,
.componentContentFooterContatoSocial-5,
.componentContentFooterContatoSocial-6{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 5px;
    color: whitesmoke;
    text-decoration: none;
}
.whattzap{
    height: 30px;
    width: 60px;
    margin-left: -20px; 
}
.facebook{
    margin-top: 10px;
    height: 25px;
    width: 40px; 
}
.instagram,.instagramTorre,.twitter{
    height: 40px;
    width: 40px; 
}
.contactZap,.contactFace,.contactInsta,.contactTwitter{
    font-weight: 800;
    margin-left: 10px;
    font-size: small;
}
.componentFooterTecnologias{
    color: whitesmoke;
    margin-top: 150px;
}
.componentFooterTecnologiasDescription{
    display: flex;
    flex-direction: row;
    color: black;
    margin: 3px;
}
.tec{
    border: black solid 1px;
    background: whitesmoke;
    padding: 5px;
    height: 40px;
    width: 40px;
}
.componentContentFooterFormulario{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.componentFooterName,.componentFooterFone,.componentFooterMail{
    border: solid 1px black;
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    max-width: 80%;
    background: white;
    padding: 5px;
}
.CanetaImg,.FoneImg,.MailImg{
    height: 50px;
    width: 50px;
}
.put{
    height: 100%;
    width: 70%;
    padding: 15px;
    outline: none;
    border: none;
}
.componentFooterText{
    max-width: 80%;
}
.textContact{
    width: 100%;
    height: 100px;
    padding: 5px;
}
.componentFooterButtonAction{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    max-width: 82%;
}
.enviar,.limpar{
    justify-self: end;
    align-self: flex-end;
    float: right;
}
.enviar{
    background:linear-gradient(97deg, #00bfff 45%, #1e90ff 55%);
    border: none;
    outline: none;
    margin-right: 10px;
    padding: 5px;
    color: whitesmoke;
    cursor: pointer;
}
.enviar:hover{
    background:linear-gradient(97deg, #00ff00 45%, #32c232 55%);
    color: rgba(0,0,0,0.7);
}
.limpar{
    background:linear-gradient(97deg, #ff6347 45%, #ff0000 55%);
    border: none;
    outline: none;
    padding: 5px;
    color: whitesmoke;
    cursor: pointer;
}
.limpar:hover{
    color: rgba(0,0,0,0.7);
}
.componentContentCopy{
    background: black;
    color: whitesmoke;
    padding: 10px;
}
.meLinkedin{
    margin-left: 3px;
    text-decoration: none;
    color: whitesmoke;
}
.componentContentLittleDevices{
    display: none;
}




            /*    Àrea de Responsividade  */

@media(max-width:700px){
    .componentContentLargerToSmallDevices{
        display: none;
    }
    .componentContentLittleDevices{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:320px){
   
    .ComponentContent{
        margin-top: 30px;
    }
}
@media(max-width:800px){
    .ComponentContentContent{
        display: flex;
        flex-direction: column;
        background: white;
    }
   .ComponentContentContentServicos,.ComponentContentContentMe{
        width: 100%;
        max-height: 40%;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .componentContentFooterLittleDevices{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
        background: black;
    }
}